.tela {
    display: block;
    width: 100%;
    
}
.sub-cabecalho{
    display: flex;
    
    position: relative;;
}
.btn-sub-cabecalho{
    
    display: flex;
    padding: 16px 0 0 64px;
}
.centraliza-box {
    width: 100%;
    padding: 32px ;
    display: flex;
    
}
.tabela-consulta{
    border-radius: 4px;
    width: 800px;
    padding: 32px;
    display: block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    color: darkslategrey;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    
}
.linha-consulta{
    display: flex;
    margin: 8px;
    width: 600px;
    border: 2px solid ;
    border-color: rgb(9, 125, 119);
    border-radius: 4px;
}
.linha-consuta{
    justify-content: space-between;

}
.cor-campo{
    background-color:rgb(187, 230, 228); 
}

.campo{
    
    font-weight: 600;
    padding: 0 8px;
    
    width: 90px;
    margin: 8px;
}
.valor{
    font-size: 18px;
    font-weight: 500;
    color: darkslategrey;
    padding: 0 16px;
    margin: 8px;
}
.rodape {
    width: 100%;
    margin-left: 64px;
    color: darkslategrey;
}